<h1 style="font-size:70px;">Blog</h1>
<a class="btn btn-default btn-lg" href="/home">Home</a>
<a class="btn btn-default btn-lg" href="/blog">Blog</a>
<a class="btn btn-default btn-lg" href="/contact">Contact</a>
