<div class="paragraphs">
  <div class="row">
    <div class="span4">
      <a href="/blog/ttp">
      <img style="float:left" src="https://static.pexels.com/photos/300812/pexels-photo-300812.jpeg" width="50%"/>
      <div class="content-heading"><h1 class="text-center">What I Learned at the TTP Program</h3></div>
      <h5 class="text-center">What to expect from a conding bootcamp? What questions should you ask before? What are the do's and dont's to succeed?</h5>
      <div style="clear:both"></div>
    </div>
  </div>
</div>

<div class="paragraphs" style="background-color:lightgray;">
  <div class="row">
    <div class="span4">
      <a href="/blog/programmers">
      <img style="float:right" src="https://static.pexels.com/photos/7374/startup-photos.jpg" width="50%"/>
      <div class="content-heading"><h1 class="text-center">The Problems of Being a Female Programmer</h3></div>
      <h5 class="text-center">From gender gaps to "shark week", women have a whole lot issues in the tech world. </h5>
      <div style="clear:both"></div>
    </div>
  </div>
</div>

<div class="paragraphs">
  <div class="row">
    <div class="span4">
      <a href="/blog/hacker">
      <img style="float:left" src="https://static.pexels.com/photos/38275/anonymous-studio-figure-photography-facial-mask-38275.jpeg" width="50%"/>
      <div class="content-heading"><h1 class="text-center">The Stereotypes of Hackers</h3></div>
      <h5 class="text-center">Of course, there's a couple of "Mr. Robot" wannabes in the tech world, but not all hackers are going to check your search history. This is a blog on the steroetypes of hackers.</h5>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
