<div class="navbar navbar-default navbar-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2017 - Site Built By Suazo</p>
    <a href="#" class="navbar-btn btn-default btn pull-right">LinkedIn</a>
    <a href="#" class="navbar-btn btn-primary btn pull-right">GitHub</a>
    <a href="#" class="navbar-btn btn-danger btn pull-right">MyResearch</a>
  </div>
</div>
