<div class="navbar navbar-default navbar-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2017 - Site Built By Suazo</p>
    <a href="https://www.linkedin.com/in/katherinesuazo/" target="_blank" class="navbar-btn btn-default btn pull-right">LinkedIn</a>
    <a href="https://github.com/katherinesdd53" target="_blank" class="navbar-btn btn-primary btn pull-right">GitHub</a>
    <a href="https://www.instagram.com/katherinesdd53/" target="_blank" class="navbar-btn btn-danger btn pull-right">Instagram</a>
  </div>
</div>
