<form action="/katherinesdd53@gmail.com" method="post" enctype="text/plain" style="margin:5% 5%; padding:50px; background:rgb(188,143,143); border-radius:10px;">
  <div class="form-group">
    <label for="exampleInputName">First and Last Name</label>
    <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputCompany">Company Name</label>
    <input type="text" class="form-control" id="exampleInputCompany" placeholder="Company">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Your Email</label>
    <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Describe Yourself</label>
    <textarea type="text" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <input type="submit" value="Send">
  <input type="reset" value="Reset">
</form>
