<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://github.com/katherinesdd53/ElizaReplica">
        <img src="https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg" style="width:100%">
        <div class="caption">
          <h3>Java GUI Project</h3>
          <p>A replica of the 1960's computer program called ELIZA. It's purpose was to understand the communication between a human being and a computer. This project was written in Java using the Eclipse IDE.</p>
        </div>
      </a>
    </div>
  </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="https://sites.google.com/view/cmp464/home">
       <img src="https://librosa.github.io/librosa/0.5.0rc0/_images/librosa-feature-tonnetz-1.png" style="width:86%">
       <div class="caption">
         <h3>Computational Musicology Research</h3>
         <p>A computational musicology research on the changes of musical elements throughout the decades. This project was written in Python using the Spyder IDE.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="https://github.com/katherinesdd53/Profile">
       <img src="https://static.pexels.com/photos/30389/pexels-photo.jpg" style="width:96%">
       <div class="caption">
         <h3>First Blog Using Node.js</h3>
         <p>My first attempt in making a blogsite with posting abilities. This project included programs like Node.js, EJS, and Bootstrap.</p>
       </div>
     </a>
   </div>
 </div>
</div>
